$bgColor: #FEF138;
$bgColorGrin: #A8F000;
$boxShadow: 15px 10px 30px rgba(128, 128, 128, 0.47);
$bordRad: 50px;

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  font-size: 19px;
  color: #000000;
  background-color: #FBFCFD;
}

//container//
.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 30px;
}

.article {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

//header//
.header {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.logo_icon {
  width: 9vw;
}

.header_nav {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

//nav//
.nav_link {
  margin-left: 20px;

}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $bgColorGrin;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav_link:hover:after {
  opacity: 1;
}

.nav_link:active {
  color: #324600;
}

.main {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

//intro//
.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.intro_inner {
  margin-top: 231px;
  display: flex;
  justify-content: space-between;
}

.intro_item {
  width: 64%;
}

.intro_title {
  font-size: 64px;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;

}

.title_bg {
  background: $bgColorGrin;
  border-radius: $bordRad;
  padding: 5px 15px;
  box-shadow: $boxShadow;
}

.intro_subtitle {
  margin-top: 34px;
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
}

.btm_item {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

.intro_btm {
  padding: 22px 59px;
  background-color: $bgColorGrin;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: $bordRad;
  box-shadow: $boxShadow;
}

.intro_btm:hover {
  background-color: #9dde04;
}

.intro_btm:active {
  background-color: #89c001;
}

.intro_img {
  display: block;
  position: relative;
  top: -85px;
  left: -35px;
  right: 0;
  margin-left: 15px;
  z-index: 1;
  background-image: radial-gradient(circle closest-corner at 62% 54%, #0800ffd9 -35%, transparent 65%);
}

.img_rocket {

}

//time//
.timer {
  margin-left: 43px;
  border-radius: $bordRad;
  background-color: $bgColor;
  box-shadow: $boxShadow;
  padding: 22px 47px;
}

.timer_title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.timer_item {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 15px;
}

.timer_days,
.timer_hours,
.timer_minutes {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 22px;
  padding: 20px 13px;
  border-radius: 25px;
  margin-left: 15px;
}

.timer_days {
  margin-left: 0;
}

//section//
.section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
}

.section_header {
  margin: 15px 0;
}

.section_title {
  font-size: 34px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

.card_inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 73px;
}

.card_item {
  background: rgb(89 89 89 / 0%);
  box-shadow: $boxShadow;
  border-radius: $bordRad;
  margin: 40px 12px;
  padding: 77px 29px 25px;
  width: 31%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

}

.card_img {
  position: absolute;
  top: -59px;
  left: 29px;
  right: 0;
  z-index: 10;
}

.card_text {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

//form//
.section_form {
  margin: 0 auto;
}

.form_inner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  background:$bgColor;
  box-shadow: $boxShadow;
  border-radius: $bordRad;
}
.form_img{

}
.img_form{
  width: 50%;
}
