$bgColorYellow: #ffef3a;
$bgColorGrin: #A8F000;
$bgHoverGreen: #9dde04;
$bgActiveGreen: #88c900;
$boxShadowGrey: 12px 10px 37px rgb(128 128 128 / 47%);
$boxShadowGrin: 12px 10px 37px rgb(21 86 11 / 36%);
$boxShadowYellow: 12px 10px 37px #b9ae27b3;
$bordRad: 50px;


body {
  margin: 0 auto;
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  font-size: 19px;
  color: #000000;
  background-color: #FBFCFD;


}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

//container//
.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 40px;
}

.article {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

//header//
.header {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.logo_icon {
  width: 9vw;
}

.header_nav {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

//nav//
.nav_link {
  margin-left: 20px;

}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $bgColorGrin;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav_link:hover:after {
  opacity: 1;
}

.nav_link:active {
  color: $bgActiveGreen;
}

.main {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

//intro//
.intro {
  width: 100vw;
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: radial-gradient(circle closest-corner at 23% 44%, #FEF138 -20%, transparent 73%);
  overflow: hidden;

}

.intro_inner {
  padding-top: 231px;
  display: flex;
  justify-content: space-between;
}

.intro_item {
  width: 64%;
}

.intro_title {
  font-size: 64px;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;

}

.title_bg {
  background: $bgColorGrin;
  border-radius: $bordRad;
  padding: 5px 15px;
  box-shadow: $boxShadowGrey;
}

.intro_subtitle {
  margin-top: 34px;
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
}

.btm_item {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

.intro_btm {
  padding: 28px 59px;
  background-color: $bgColorGrin;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 800;
  border: none;
  border-radius: $bordRad;
  box-shadow: $boxShadowGrey;
  transition: 0.2s;
}

.intro_btm:hover {
  background-color: $bgHoverGreen;
}

.intro_btm:active {
  background-color: $bgActiveGreen;
}

.intro_img {
  display: block;
  position: relative;
  top: -85px;
  left: -35px;
  right: 0;
  margin-left: 15px;
  z-index: 1;
  background-image: radial-gradient(circle closest-corner at 62% 54%, #0800ffd9 -35%, transparent 65%);
}


//time//
.timer {
  margin-left: 43px;
  border-radius: $bordRad;
  background-color: $bgColorYellow;
  box-shadow: $boxShadowGrey;
  padding: 28px 59px;
}

.timer_title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.timer_item {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 15px;
}

.timer_days,
.timer_hours,
.timer_minutes {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 22px;
  padding: 20px 13px;
  border-radius: 25px;
  margin-left: 15px;
  box-shadow: $boxShadowYellow;
}

.timer_days {
  margin-left: 0;
}

//section//
.section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 40px 0 160px;
  width: 100vw;
  background: radial-gradient(circle closest-corner at 47% 56%, #A8F00066 -8%, transparent 54%);

}

.section_header {
  padding: 15px 0 60px;
}

.section_title {
  font-size: 34px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

.card_inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 73px;
}

.card_item {
  background: white;
  box-shadow: $boxShadowGrey;
  border-radius: $bordRad;
  margin: 40px 12px;
  padding: 77px 29px 25px;
  width: 31%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.card_img {
  position: absolute;
  top: -59px;
  left: 29px;
  right: 0;
  z-index: 3;
}

.card_text {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  z-index: 100;
}

//form//

.section_form {
  position: relative;
  margin: 0 auto 30px;
}

.form_inner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: $bgColorYellow;
  box-shadow: $boxShadowGrey;
  border-radius: $bordRad;
  margin: auto 50px;
}

.img_form {
  position: absolute;
  top: -138px;
  left: -27px;
  z-index: 10;
  width: 35%;
}

.form_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  margin: 0 25px;

}

.form_title {
  font-size: 34px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  margin-top: 40px;
  width: 66%;
}

.form_text {
  background: $bgColorGrin;
  background-position-x: 30%;
  border-radius: $bordRad;
  padding: 5px 15px;
  box-shadow: $boxShadowGrin;

}

.form_subtitle {
  font-size: 23px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-top: 25px;
}

form {
  margin: 25px 0 15px;
}

.name {
  font-size: 18px;
  padding: 10px 15px;
  background: #f6e93e;
  box-shadow: $boxShadowYellow;
  border: 2px solid rgba(148, 138, 14, 0.84);
  border-radius: $bordRad;
}

.name:hover {
  border: 2px solid rgba(138, 127, 14, 0.84);
  background: #f1e436;
}

.name:active {
  background: #e3d632;
}

.email {
  font-size: 18px;
  padding: 10px 15px;
  background: #f6e93e;
  box-shadow: $boxShadowYellow;
  border: 2px solid rgba(148, 138, 14, 0.84);
  border-radius: $bordRad;
}

.email:hover {
  border: 2px solid rgba(138, 127, 14, 0.84);
  background: #f1e436;
}

.email:active {
  background: #e3d632;
}

.button {
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  border-radius: $bordRad;
  box-shadow: $boxShadowYellow;
  border: 2px solid $bgColorGrin;
  padding: 13px 28px;
  background: $bgColorGrin;
}

.button:hover {
  background-color: $bgHoverGreen;
  transition: 0.2s;
}

.button:active {
  background-color: #98d701;
  transition: 0.2s;

}

label {
  margin-bottom: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.checkbox {
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;

}


//section_form//
.section_about {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  width: 100vw;
  padding-top: 128px;
  background: radial-gradient(circle closest-corner at 35% 50%, #A8F00066 -9%, transparent 69%);

}

.about_inner {
  background-image: url("/img/about/about_bg.svg");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding: 80px 23px;
}

.about_item_1 {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-wrap: wrap;
}

.about_item_2 {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-wrap: wrap;
}

.about_item_3 {
  grid-column-start: 3;
  grid-row-start: 4;
  display: flex;
  flex-wrap: wrap;
}

.about_item_4 {
  grid-column-start: 4;
  grid-row-start: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.about_num {
  font-family: 'Ubuntu', sans-serif;
  border-radius: 50%;
  background: $bgColorYellow;
  box-shadow: $boxShadowGrey;
  font-size: 28px;
  font-weight: 900;
  padding: 16px 27px;

}


.about_title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 900;
}

.about_subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.about_title {
  margin-top: 16px;
}

.about_subtitle {
  margin-top: 11px;
}

//section_info//
.section_info {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 50px 0 100px;
  background: radial-gradient(circle closest-corner at 57% 79%, #FEF138 -50%, transparent 62%);

}

//accordion//
.accordion {
  margin: 0 45px;
}

.accordion_item {
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
}

.accordion_header {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_title {
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

.section_vector {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: $bordRad;
  box-shadow: $boxShadowGrey;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

.section_vector:hover {
  background: rgba(0, 0, 0, 0.18);
}

.section_vector:active {
  background: rgba(0, 0, 0, 0.34);
}

.section_vector:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 18px;
  width: 4px;
  height: 20px;
  background: #000000B2;
}


.section_vector:after {
  content: "";
  position: absolute;
  top: 18px;
  right: 10px;
  width: 20px;
  height: 4px;
  background: rgba(0, 0, 0, 0.75);


}

.accordion_content {
  display: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  padding: 0 10px 20px;
}

.active .accordion_content {
  display: block;
}

.active .section_vector::before {
  transform: translateX(1px) rotate(45deg);

}

.active .section_vector::after {
  transform: translateX(1px) rotate(45deg);
}

//footer//
.footer {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.footer_inner {
  margin: 0 25px;
  padding: 0 50px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: $boxShadowGrey;
  background: #a8f000c2;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;


}

.footer_item {
  display: block;
  position: relative;
  width: 70%;

}

.footer_title {
  margin-top: 60px;
  width: 100%;

}

.footer_subtitle {
  margin-top: 37px;
  width: 70%;

}

.footer_text {
  background: $bgColorYellow;
}

.footer_form {
  margin: 36px 0 35px;
}

.footer_name {
  font-size: 18px;
  padding: 10px 15px;
  background: #b8eb59;
  box-shadow: $boxShadowGrin;
  border: 2px solid rgb(125, 159, 56);
  border-radius: $bordRad;

}

.footer_name:hover {
  background: #b3e851;
  border: 2px solid rgb(103, 129, 46);
}

.footer_name:active {
  background: #a9da4d;
  border: 2px solid rgb(76, 96, 34);
}

.footer_email {
  font-size: 18px;
  padding: 10px 15px;
  background: #b8eb59;
  box-shadow: $boxShadowGrin;
  border: 2px solid rgb(125, 159, 56);
  border-radius: $bordRad;

}

.footer_email:hover {
  background: #b3e851;
  border: 2px solid rgb(103, 129, 46);
  outline: none;
}

.footer_email:active {
  background: #a9da4d;
  border: 2px solid rgb(76, 96, 34);
  outline: none;

}

.footer_btn {
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  border-radius: $bordRad;
  box-shadow: $boxShadowGrin;
  border: 2px solid rgba(241, 220, 22, 0.84);
  padding: 13px 28px;
  background: $bgColorYellow;
}

.footer_btn:hover {
  background: #f3e337;
  outline: 0;
  outline-offset: 0;
}

.footer_btn:active {
  background: #ead936;

}


.footer_img {
  display: block;
  position: absolute;
  top: -159px;
  right: -56px;

}

.social {
  display: flex;
  align-items: flex-end;
  padding-bottom: 35px;
}

.fab {
  font-size: 34px;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.66);
}

.fab:hover {
  color: rgba(0, 0, 0, 0.81);
}

.fab:active {
  color: black;
}












