$borderBottom: 1px solid #29270a;
$bgColorYellow: #ffef3a;
$bgColorGrin: #A8F000;
$bgHoverGreen: #9dde04;
$bgActiveGreen: #88c900;
$boxShadowGrey: 0px 8px 65px rgb(128 128 128 / 41%);
$boxShadow: 0px 10px 37px rgb(22 98 10 / 30%);
$borderGrin: #93d003;
$boxShadowYellow: 12px 10px 37px #b9ae275c;
$bordRad: 25px;

.registr {
  margin: 0 auto;
  padding: 130px 0;
}

.registr_bulb {
  display: block;
  width: 100%;
  max-width: 191px;
  position: absolute;
  top: 55px;
  left: -260px;
  z-index: 1;
  transform: rotate(336deg);

}

.registr_cup {
  display: block;
  width: 100%;
  max-width: 255px;
  position: absolute;
  bottom: -7%;
  right: -45%;
  z-index: 1;
}

.registr_map {
  display: block;
  width: 100%;
  max-width: 229px;
  position: absolute;
  top: 29%;
  right: -54%;
  z-index: 1;
}

.registr_notebook {
  display: block;
  width: 100%;
  max-width: 293px;
  position: absolute;
  bottom: 29%;
  left: -45%;
  z-index: 1;
}

.container_login {
  width: 100%;
  display: flex;
  justify-content: center;


}

.registr_inner {
  max-width: 602px;
  width: 100%;
  padding: 51px 72px;
  background: #fbfcfd;
  border: 2px solid rgb(255 8 8 / 12%);
  border-radius: 40px;
  box-shadow: 0 0 300px 25px rgb(213 57 64 / 24%);
  position: relative;

}

.registr_form {
  margin: 0;
  width: 100%;
  position: relative;

}

.registr_logo {
  width: 100%;
  display: block;
  text-align: center;
}

.registr_logo_content {
  width: 50%;
}

.registr_form_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;

}

.registr_title_content {
  background-color: #ffef3a;
  border-radius: 50px;
  padding: 11px 30px;
}

.registr_subtitle_content {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  text-align: center;
  margin-bottom: 50px;
}

.regisr_input {
  border: none;
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 19px;
  padding: 9px 24px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 35px;

}

.regisr_input:focus {
  background: transparent !important;
}

.registr_input_name,
.registr_input_surname,
.registr_input_age,
.regisr_input_email,
.regisr_input_password,
.regisr_input_tel,
.regisr_input_gender,
.regisr_input_country,
.regisr_input_city {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  border: 1px solid #3e0404;
  border-radius: 35px;
  box-shadow: 0 10px 37px rgba(161, 6, 6, 0.11);
  font-family: "Ubuntu", sans-serif;
}

select {
  appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fdf1f1 inset;
}

.regisr_input_btn {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;


}

.regisr_btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 19px;
  border-radius: $bordRad;
  padding: 9px 35px;
  background: #fff04c;
  border: 2px solid rgba(250, 228, 59, 0.29);
  box-shadow: 0 7px 21px #b9ae275c;
}

.registr_input_checkbox {
  font-size: 17px;

}

//footer
.registr_social {
  display: flex;
  justify-content: center;
  background: $bgColorGrin;
  border: #a6e906 1px solid;
  box-shadow: $boxShadow;
  border-radius: 35px 35px 0 0;
  margin: 0 auto;
  padding: 25px 0;
  max-width: 424px;
  width: 100%;

}