@media (max-width: 1380px ) {
    /*intro*/
    .intro_inner {
        padding: 202px 0 90px;
    }

    .intro_title {
        font-size: 60px;
    }

    .intro_subtitle {
        margin-top: 23px;
        font-size: 34px;
    }

    .btm_item {
        margin-top: 53px;
    }

    .intro_btm {
        padding: 24px 53px;
        font-size: 20px;
    }

    .timer {
        font-size: 20px;
        margin-left: 33px;
    }

    .section {
        padding: 24px 0 158px;
    }

    .section_title {
        font-size: 33px;
    }

    .form_inner {
        margin: auto 80px;
    }

    .img_form {
        top: -18px;
        width: 33%;
        left: 0;
    }

    .form_title {
        margin-top: 35px;
        font-size: 32px;
    }

    .form_subtitle {
        font-size: 21px;
    }

    form {
        margin: 13px 0 13px;
    }

    .name, .email, .button {
        font-size: 16px;
    }

    label {
        margin-bottom: 35px;
    }

    .section_about {
        padding-top: 130px;
    }

    .about_num {
        font-size: 24px;
        padding: 15px 24px;
    }

    .about_title {
        margin-top: 11px;
        font-size: 20px;
    }

    .about_subtitle {
        margin-top: 7px;
        font-size: 18px;
    }

    .section_header {
        padding: 0 0 50px;
    }

    .accordion {
        margin: 0 70px;
    }

    .accordion_title {
        font-size: 22px;
    }

    .accordion_content {
        padding: 0 37px 16px;
        font-size: 17px;

    }

    .vector {

    }

    .section_info {
        padding: 141px 0 153px;
    }

    .footer_inner {
        margin: 0 35px;
        padding: 0 52px;
    }

    .footer_subtitle {
        margin-top: 27px;
    }

    .footer_form {
        margin: 23px 0 23px;
    }

    .footer_img {
        top: -88px;
        right: -21px;
    }

    .fab {
        font-size: 31px;
        padding-left: 13px;
    }
}

@media (max-width: 1110px ) {
    .card_item {
        margin: 29px 7px;
        padding: 40px 21px 16px;

    }

    .card_img {
        top: -44px;
        left: 25px;
        width: 35%;
    }

    .form_inner {
        margin: auto 36px;
    }

    .footer_inner {
        padding: 0 39px;
    }

    .footer_img {
        top: -65px;
        height: 93%;
    }
}

@media (max-width: 1020px ) {
    /*header*/
    .header_nav {
        font-size: 15px;
    }

    /*intro*/
    .intro_inner {
        padding: 168px 0 72px;

    }

    .intro_title {
        font-size: 50px;
    }

    .intro_subtitle {
        font-size: 26px;
    }

    .btm_item {
        margin-top: 34px;
    }

    .intro_btm {
        padding: 15px 45px;
        font-size: 18px;
    }

    .timer {
        padding: 15px 29px;
    }

    .timer_title {
        font-size: 18px;
    }

    .timer_item {
        margin-top: 14px;
    }

    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 15px;
        padding: 14px 21px;
    }

    .intro_img {
        top: 94px;
        right: -286px;
    }

    .img_rocket {
        width: 70%;
    }

    /*section*/
    .section_header {
        padding: 0 0 27px;
    }

    .section_title {
        font-size: 28px;
    }

    /*section_advant*/
    .section_advant {
        padding: 40px 0 60px;

    }

    /*card*/
    .card_item {
        margin: 33px 10px;
        padding: 67px 25px 19px;
        width: 29%;
    }

    .card_img {
        width: 43%;
        top: -50px;
        left: 38px;
    }

    .card_text {
        font-size: 17px;
    }

    /*form*/
    .img_form {
        top: 0;
        width: 32%;
        left: 0;
    }

    .form_title {
        margin-top: 35px;
        font-size: 26px;
    }

    .form_subtitle {
        font-size: 18px;
        margin-top: 18px;
    }

    form {
        margin: 24px 0 14px;
    }

    .name, .email {
        font-size: 13px;
        padding: 6px 11px;
    }

    .button {
        font-size: 13px;
        padding: 7px 25px;
    }

    .checkbox_txt {
        font-size: 16px;
    }

    /*about*/
    .section_about {
        padding-top: 90px;
    }

    .about_num {
        font-size: 20px;
        padding: 13px 21px;
    }

    .about_title {
        margin-top: 7px;
        font-size: 18px;
    }

    .about_subtitle {
        margin-top: 4px;
        font-size: 16px;
    }

    /*info*/
    .section_info {
        padding: 76px 0 100px;
    }

    /*accordion*/
    .accordion_header {
        padding: 13px 0;

    }

    .accordion_title {
        font-size: 19px;
    }

    .accordion_content {
        padding: 0 24px 11px;
        font-size: 16px;
    }

    /*footer*/
    .footer_inner {
        margin: 0;
        padding: 0 46px;
    }

    .footer_name, .footer_email {
        font-size: 15px;
        padding: 7px 12px;
    }

    .footer_btn {
        padding: 7px 22px;
        font-size: 15px;
    }

    .footer_img {
        top: -47px;
        right: 4px;
    }

    .fab {
        font-size: 26px;
        padding-left: 9px;
    }

}

@media (max-width: 930px) {
    /*header*/
    .header_nav {
        font-size: 13px;
    }

    /*intro**/
    .intro_inner {
        padding: 126px 0 72px;
    }

    .intro_title {
        font-size: 43px;
    }

    .intro_subtitle {
        font-size: 22px;
    }

    .intro_btm {
        font-size: 16px;
    }

    .timer_title {
        font-size: 16px;
    }

    .intro_img {
        top: 63px;
        right: -363px;
    }

    .img_rocket {
        width: 56%;
    }

    .section_header {
        padding: 0 0 20px;
    }
    .section_title {
        font-size: 25px;
    }

    .about_title {
        margin-top: 3px;
        font-size: 16px;
    }

    .about_subtitle {
        margin-top: 2px;
        font-size: 14px;
    }

    .about_num {
        font-size: 18px;
        padding: 11px 19px;
    }

    /*card*/
    .card_img {
        width: 39%;
        top: -28px;
        left: 34px;
    }

    .card_text {
        font-size: 14px;
    }

    /*form*/
    .form_title {
        font-size: 24px;
    }

    .form_subtitle {
        font-size: 16px;
    }

    .name, .email {
        font-size: 12px;
    }

    form {
        margin: 18px 0 7px;
    }

    .checkbox_txt {
        font-size: 14px;
    }

    /*accordion*/
    .accordion_title {
        font-size: 16px;
    }

    .accordion_content {
        font-size: 14px;
    }

    .footer_name,
    .footer_email {
        font-size: 13px;
        padding: 6px 11px;
    }
}

@media (max-width: 790px) {
    /*header*/
    .header_inner{
        margin-top: 25px;
    }
    .header_nav {
        font-size: 12px;
    }
    /*intro*/
    .intro_inner {
        padding: 126px 0 66px;
    }
    .intro_title {
        font-size: 36px;
    }
    .intro_subtitle {
        font-size: 18px;
        margin-top: 11px;

    }
    .btm_item {
        margin-top: 23px;
    }
    .intro_btm{
        padding: 12px 40px;
        font-size: 13px;
    }
    .timer{
        padding: 12px 26px;
    }
    .timer_title{
        font-size: 13px;
    }
    .timer_item{
        margin-top: 9px;

    }
    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 13px;
        padding: 11px 18px;
    }
    .intro_img {
        top: 45px;
        right: -413px;
    }
    .img_rocket {
        width: 40%;
    }
    .intro_img{
        top: 70px;
        right: -454px;
    }
    /*advant*/
    .section_advant {
        padding: 16px 0 29px;
    }
    .section_title{
        font-size: 22px;
    }
    .card_item{
        display: flex;
        justify-content: center;
        margin: 18px 6px;
        width: 45%;
    }


}

