@media (max-width: 1380px ) {
    .intro_inner {
        padding-top: 202px;
        height: 80vh;
    }

    .intro_title {
        font-size: 60px;
    }

    .intro_subtitle {
        margin-top: 23px;
        font-size: 34px;
    }

    .btm_item {
        margin-top: 53px;
    }

    .intro_btm {
        padding: 24px 53px;
        font-size: 20px;
    }

    .timer {
        font-size: 20px;
        margin-left: 33px;
        padding: 24px 53px;
    }
    .section{
        padding: 24px 0 124px;
    }

    .section_title {
        font-size: 33px;
    }

    .card_inner {
        margin-top: 24px;
    }


    .form_inner{
        margin: auto 80px;
    }
    .img_form{
        top: -138px;
        width: 34%;
    }
    .form_title{
        margin-top: 25px;
        font-size: 32px;
    }
    .form_subtitle{
        font-size: 21px;
    }
    form {
        margin: 13px 0 13px;
    }
    .name, .email, .button{
        font-size: 16px;
    }
    label{
        margin-bottom: 25px;
    }

    .section_about{
        padding-top: 61px;
    }
    .about_num{
        font-size: 24px;
        padding: 15px 24px;
    }
    .about_title {
        margin-top: 11px;
        font-size: 20px;
    }
    .about_subtitle{
        margin-top: 7px;
        font-size: 18px;
    }
    .section_header{
        padding: 19px 0 23px;
    }
    .accordion {
        margin: 0 70px;
    }
    .accordion_title{
        font-size: 22px;
    }
    .accordion_content{
        padding: 0 37px 16px;
    }
    .section_vector{
        width: 36px;
        height: 36px;
    }
    .section_vector:before{
        top: 9px;
        right: 16px;
        width: 4px;
        height: 18px;
    }
    .section_vector:after{
        top: 16px;
        right: 9px;
        width: 18px;
        height: 4px;
    }

    .section_info{
        padding: 50px 0 189px;
    }
    .footer_inner{
        margin: 0 80px;
        padding: 0 70px;
    }

    .footer_subtitle{
        margin-top: 27px;
    }
    .footer_form {
        margin: 23px 0 23px;
    }
    .footer_img{
        top: -192px;
        right: -15px;
        width: 37%;
    }
    .fab {
        font-size: 31px;
        padding-left: 13px;
    }


}