@media (max-width: 1380px ) {
    /*intro*/
    .intro_inner {
        padding: 0 35% 0 28px;

    }

    .img_rocket {
        width: 50%;
    }

    .intro_title {
        font-size: 56px;
    }

    .intro_subtitle {
        margin-top: 23px;
        font-size: 31px;
    }

    .btm_item {
        margin-top: 53px;
    }

    .intro_btm {
        padding: 18px 63px;
        font-size: 21px;
    }

    .timer {
        margin-left: 33px;
        padding: 18px 45px;

    }

    .timer_title {
        font-size: 21px;
    }

    .timer_item {
        margin-top: 15px;

    }

    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 20px;
    }

    .section {
        padding: 24px 0 158px;
    }

    .section_title {
        font-size: 33px;
    }

    .img_form {
        top: -18px;
        width: 30%;
        left: 0;
    }

    .form_title {
        margin-top: 35px;
        font-size: 32px;
    }

    .form_subtitle {
        font-size: 20px;
    }

    form {
        margin: 13px 0 13px;
    }

    .name, .email, .button {
        font-size: 16px;
    }

    label {
        margin-bottom: 35px;
    }

    .section_about {
        padding-top: 130px;
    }

    .about_num {
        font-size: 24px;
        padding: 15px 24px;
    }

    .about_title {
        margin-top: 11px;
        font-size: 22px;
    }

    .about_subtitle {
        margin-top: 7px;
        font-size: 20px;
    }

    .section_header {
        padding: 0 0 50px;
    }

    .section_advant {
        padding: 0 0 130px;
    }

    .accordion {
        margin: 0 70px;
    }

    .accordion_title {
        font-size: 22px;
    }

    .accordion_content {
        padding: 0 37px 16px;
        font-size: 20px;

    }

    .section_info {
        padding: 141px 0 153px;
    }

    .footer_img {
        top: -56px;
        right: -10px;
        height: 95%;
    }

    .footer_inner {
        margin: 0 35px;
        padding: 0 52px;
    }

    .footer_email {
        font-size: 16px;
    }

    .footer_btn {
        font-size: 16px;
    }


    .footer_form {
        margin: 23px 0 23px;
    }

    .fab {
        font-size: 31px;
        padding-left: 10px;
    }
}


@media (max-width: 1024px ) {
    /*header*/
    .header_nav {
        font-size: 15px;
    }

    /*intro*/
    .intro_inner {
        margin: 180px 0 90px;
    }

    .intro_title {
        font-size: 50px;
    }

    .intro_subtitle {
        font-size: 26px;
    }

    .btm_item {
        margin-top: 34px;
    }

    .intro_btm {
        padding: 15px 45px;
        font-size: 18px;
    }

    .timer {
        padding: 15px 29px;
    }

    .timer_title {
        font-size: 18px;
    }

    .timer_item {
        margin-top: 14px;
    }

    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 15px;
        padding: 14px 21px;
    }


    /*section*/
    .section_header {
        padding: 0 0 27px;
    }

    .section_title {
        font-size: 28px;
    }

    /*card*/
    .card_item {
        height: 100px;
    }

    .card_text {
        font-size: 17px;
    }

    /*form*/
    .img_form {
        top: 0;
        width: 32%;
        left: 0;
    }

    .form_title {
        margin-top: 35px;
        font-size: 26px;
    }

    .form_subtitle {
        font-size: 18px;
        margin-top: 18px;
    }

    form {
        margin: 24px 0 14px;
    }

    .name, .email {
        font-size: 13px;
        padding: 6px 11px;
    }

    .button {
        font-size: 13px;
        padding: 7px 25px;
    }

    .checkbox_txt {
        font-size: 16px;
    }

    /*about*/
    .section_about {
        padding-top: 90px;
    }

    .about_num {
        font-size: 20px;
        padding: 13px 21px;
    }

    .about_title {
        margin-top: 7px;
        font-size: 18px;
    }

    .about_subtitle {
        margin-top: 4px;
        font-size: 16px;
    }

    /*info*/
    .section_info {
        padding: 76px 0 100px;
    }

    /*accordion*/
    .accordion_header {
        padding: 13px 0;
    }

    .accordion_title {
        font-size: 19px;
    }

    .accordion_content {
        padding: 0 33px 11px;
        font-size: 16px;
    }

    /*footer*/
    .footer_inner {
        margin: 0 20px;
        padding: 0 46px;
    }

    .footer_email {
        font-size: 15px;
        padding: 6px 0 6px 11px;
    }

    .footer_btn {
        padding: 7px 22px;
        font-size: 15px;
    }

    .footer_img {
        top: -47px;
        right: 4px;
        height: 90%;
    }

    .fab {
        font-size: 26px;
        padding-left: 9px;
    }

}

@media (max-width: 930px) {
    /*header*/
    .header_nav {
        font-size: 13px;
    }

    /*intro**/
    .intro_inner {
        margin: 182px 0 71px;
    }

    .intro_title {
        font-size: 43px;
    }

    .intro_subtitle {
        font-size: 22px;
    }

    .intro_btm {
        font-size: 16px;
    }

    .timer_title {
        font-size: 16px;
    }

    .intro_img {
        top: 74px;
        right: -320px;
    }

    .img_rocket {
        width: 50%;
        top: -84px;
        right: -43px;
    }

    .section_header {
        padding: 0 0 20px;
    }

    .section_title {
        font-size: 26px;
    }

    .section_advant {
        padding: 0 0 70px;

    }

    .about_title {
        margin-top: 3px;
        font-size: 16px;
    }

    .about_subtitle {
        margin-top: 2px;
        font-size: 14px;
    }

    .about_num {
        font-size: 18px;
        padding: 11px 19px;
    }

    /*card*/
    .card_item {
        height: 80px;
    }

    .card_text {
        font-size: 16px;
    }

    /*form*/
    .form_title {
        font-size: 24px;
    }

    .form_subtitle {
        font-size: 16px;
    }

    .name, .email {
        font-size: 12px;
    }

    form {
        margin: 18px 0 7px;
    }

    .checkbox_txt {
        font-size: 14px;
    }

    /*accordion*/
    .accordion_title {
        font-size: 18px;
    }

    .accordion_content {
        padding: 0 39px 11px;
        font-size: 15px;
    }

    /*footer*/
    .footer_inner {
        padding: 0 40px;

    }

    .footer_email {
        font-size: 13px;
        padding: 5px 0 5px 10px;
    }

    .footer_btn {
        font-size: 13px;
        padding: 6px 20px;
    }

    .fab {
        font-size: 23px;
        padding-left: 8px;
    }
}

@media (max-width: 787px) {
    .header_nav {
        font-size: 12px;
    }

    /*intro*/
    .intro_inner {
        margin: 147px 0 63px;
        padding: 0 35% 0 10px;

    }

    .intro_title {
        font-size: 37px;
    }

    .intro_subtitle {
        font-size: 20px;
        margin-top: 13px;
    }

    .intro_btm {
        padding: 10px 40px;
        font-size: 14px;
    }

    .btm_item {
        margin-top: 24px;
    }

    .timer {
        margin-left: 17px;
        padding: 10px 18px;
    }

    .timer_title {
        font-size: 14px;
    }

    .timer_item {
        margin-top: 11px;
    }

    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 14px;
        padding: 8px 19px;
        margin-left: 8px;

    }

    .img_rocket {
        top: -71px;
        right: -25px;
        width: 45%;
    }

    /*section*/
    .section_title {
        font-size: 23px;
    }

    /*info*/
    .section_info {
        padding: 48px 0 65px;
    }

    /*card*/
    .card_item {
        height: 75px;
        width: 45%;

    }

    .card_text {
        font-size: 14px;
    }

    /*form*/
    .form_inner {
        margin: auto 0;
    }

    .img_form {
        top: unset;
        width: 30%;
        left: unset;
    }

    .form_title {
        font-size: 22px;
        margin-top: 24px;

    }

    .form_subtitle {
        margin-top: 12px;
        font-size: 14px;
    }

    form {
        margin: 13px 0 4px;
    }

    .name,
    .email {
        font-size: 11px;
        padding: 5px 10px;
    }

    .button {
        font-size: 11px;
        padding: 6px 24px;
    }

    label {
        margin-bottom: 22px;
    }

    .checkbox_txt {
        font-size: 12px;
    }

    /*about*/
    .about_inner {
        margin: 0;
        background-size: 160%;

    }

    .about_num {
        font-size: 14px;
        padding: 9px 16px;
    }

    .about_title {
        margin-top: 5px;
        font-size: 14px;
    }

    .about_subtitle {
        margin-top: 4px;
        font-size: 13px;
    }

    /*accordion*/
    .accordion {
        margin: 0 40px;
    }

    .accordion_header {
        padding: 7px 0;
    }

    .accordion_title {
        font-size: 14px;
    }

    .vector {
        padding: 6px;
    }

    .accordion_content {
        padding: 0 35px 8px;
        font-size: 13px;
    }

    /*foote*/
    .footer_inner {
        padding: 0 27px;
        margin: 0;
    }

    .footer_email {
        font-size: 12px;
    }

    .footer_btn {
        font-size: 12px;
    }

    .footer_img {
        top: -19px;
        right: 6px;
        height: 85%;
    }

    .social {
        margin-bottom: 22px;
    }

    .fab {
        font-size: 20px;
        padding-left: 7px;
    }

}

@media (max-width: 625px) {
    /*header*/
    .header_inner {
        margin-top: 22px;
    }

    .logo_icon {
        width: 13vw;
    }

    .header_nav {
        font-size: 12px;
    }

    /* intro*/
    .intro_inner {
        padding: 0;

    }

    .img_rocket {
        display: none;
    }

    .btm_item {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 38px;

    }

    .timer {
        margin: 0;
    }

    .intro_btm {
        margin-top: 30px;
        padding: 12px 50px;
        font-size: 15px;
    }

    /*card*/
    .card_item {
        height: 60px;
        width: 100%;
        padding: 0 15px;

    }

    /*form*/
    .img_form {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    label {
        margin-bottom: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .form_inner,
    .footer_inner {
        margin: 0 auto;
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .form_item {
        padding: 0 25px;
        align-items: center;
        width: 100%;
    }

    .form_title {
        width: 100%;
        font-size: 20px;
        margin-top: 20px;
    }

    .form_subtitle {
        width: 100%;
    }

    .form_text {
        padding: 3px 11px;

    }

    .img_form {
        display: none;
    }

    .name,
    .email {
        width: 70%;
    }

    /*about*/
    .about_inner {
        background-size: 314%;
    }

    .about_item_1 {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-column-end: 9;
    }

    .about_item_2 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .about_item_3 {
        grid-column-start: 4;
        grid-column-end: 9;
        grid-row-start: 3;
    }

    .about_item_4 {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 5;
    }


    /*accordion*/
    .accordion {
        margin: 0;
    }

    .accordion_content {
        padding: 0 21px 8px;
    }

    .footer_item {
        width: 100%;
    }

    .footer_email {
        width: 70%;
    }

    .checkbox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer_img {
        display: none;
    }

    .social {
        justify-content: center;
        margin-bottom: 10px;
    }

}

@media (max-width: 425px ) {
    .footer_inner {
        margin: 0;
        width: 100%;
    }

}

@media (max-width: 375px) {
    /*header*/
    .header_inner {
        margin-top: 17px;
    }

    /*intro*/
    .intro_inner {
        margin: 124px 0 50px;

    }

    .intro_title {
        font-size: 29px;
    }

    .intro_subtitle {
        font-size: 17px;
        margin-top: 8px;
    }

    .btm_item {
        margin-top: 23px;
    }

    .intro_btm {
        margin-top: 23px;
        padding: 11px 44px;
        font-size: 13px;
    }

    .timer_title {
        font-size: 13px;
    }

    .timer_item {
        margin-top: 7px;
    }

    .timer_days,
    .timer_hours,
    .timer_minutes {
        font-size: 13px;

    }

    /*section*/
    .section_header {
        padding: 0 0 16px;
    }

    .section_title {
        font-size: 21px;
    }

    /*advant*/
    .section_advant {
        padding: 0 0 46px;
    }

    /*card*/
    .card_item {
        height: 62px;
    }

    .card_text {
        font-size: 13px;
    }

    /*form*/
    .form_inner {
        margin: 0 auto;
        width: 80%;
    }

    .form_item {
        padding: 0 20px;

    }

    .form_title {
        font-size: 16px;
        margin-top: 14px;
    }

    .form_subtitle {
        margin-top: 8px;
        font-size: 13px;
        width: 100%;
    }

    .name,
    .email {
        padding: 4px 10px;
    }

    .button {
        padding: 4px 26px;
        font-size: 12px;
    }

    .checkbox_txt {
        font-size: 10px;
    }

    label {
        margin-bottom: 6px;

    }

    /*about*/
    .section_about {
        padding-top: 56px;
    }

    .about_num {
        font-size: 12px;
        padding: 8px 14px;
    }

    .about_title {
        margin-top: 3px;
        font-size: 13px;
    }

    .about_subtitle {
        margin-top: 3px;
        font-size: 12px;
    }

    /*info*/
    .section_info {
        padding: 25px 0 51px;
    }

    /*accordion*/
    .accordion_title {
        font-size: 13px;
    }

    .vector {
        padding: 4px;
        width: 6%;
    }

    .accordion_content {
        padding: 0 19px 6px;
        font-size: 12px;
    }

    /*footer*/
    .footer_email {
        font-size: 11px;
    }

    .footer_btn {
        font-size: 12px;
        padding: 4px 26px;
    }
}

@media (max-width: 320px) {
    /*header*/
    .logo_icon {
        width: 16vw;
    }

    /*intro*/
    .intro_subtitle {
        font-size: 16px;
    }

    .timer_title,
    .timer_days,
    .timer_hours,
    .timer_minutes,
    .intro_btm,
    .card_text,
    .button,
    .about_title,
    .accordion_title,
    .footer_btn {
        font-size: 12px;
    }

    .about_subtitle,
    .accordion_content,
    .form_subtitle {
        font-size: 11px;
    }

    .form_title{
        font-size: 15px;
    }

    .name,
    .email,
    .footer_email {
        width: 100%;
    }
    .fab {
        font-size: 15px;
        padding-left: 5px;
    }

}


